{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta>
    <title>個人サイト向け 無料ホームページテンプレート tp_simple16</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ここにサイト説明を入れます">
    <meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style-opening.css' %}">
    <script type="text/javascript" src="{% static 'fixmenu_pagetop.js' %}"></script>
    <script type="text/javascript" src="{% static 'openclose.js' %}"></script>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <body class="book_list">

    {% comment %} header要素のインポート {% endcomment %}
    {% include 'header_pc.html' %}
    {% include 'header_phone.html' %}

    <section class="inner first">

      <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="each-form-area">
        <div class="label-area">氏名</div>
        <div class="input-area text-input">{{ form.name }}</div>
      </div>

      <div class="radio-form-area">
        <div class="label-area">メッセージの宛先</div>
        <div class="radio-area">
          {% for choice in form.type_name %}
            <div class="each-radio-area">
              <label>
              {{ choice.choice_label }}
              {{ choice.tag }}
              </label>
            </div>
          {% endfor %}
        </div>
        {% comment %} <div class="input-area text-input">{{ form.type_name }}</div> {% endcomment %}
      </div>

      <div class="each-form-area">
        <div class="label-area">メッセージ本文</div>
        <div class="input-area text-input">{{ form.description }}</div>
      </div>

      <div class="each-form-area">
        <div class="label-area">（仮）</div>
        <div class="input-area text-input">{{ form.price }}</div>
      </div>

      <div class="each-form-area">
        <div class="label-area">メールアドレス※任意</div>
        <div class="input-area text-input">{{ form.mail }}</div>
      </div>
      
      <div class="each-form-area">
        <div class="label-area">画像投稿※任意</div>
        <div class="input-area">{{ form.image }}</div>
      </div>

      <hr>
      <div class="each-form-area">
        <input type="submit" value="メッセージを投稿する" class="submit-label" data-bs-target="#confirmModal">
        <div class="alert-msg">※ボタンを押すと直ちに投稿されます。</div>
        <div class="alert-msg">　投稿内容に誤りがないか今一度ご確認ください。</div>
      </div>

      
      </form>

    </section>


    <!--オープニングアニメーション-->
    <aside id="mainimg">
    <img src="{% static '2.png' %}" alt="" class="photo photo2">
    <img src="{% static '2.png' %}" alt="" class="photo photo2">
    <img src="{% static '2.png' %}" alt="" class="photo photo3">
    <img src="{% static '2.png' %}" alt="" class="photo photo4">
    <img src="{% static '2.png' %}" alt="" class="photo photo5">
    <img src="{% static '2.png' %}" alt="" class="photo photo6">
    <img src="{% static '2.png' %}" alt="" class="photo photo7">
    <img src="{% static '2.png' %}" alt="" class="photo photo8">
    <img src="{% static '2.png' %}" alt="" class="photo photo9">
    </aside>

    {% comment %} <script>
      更新情報の開閉処理条件設定　800px以下
      if (OCwindowWidth() <= 800) {
        console.log('asdf');
        open_accordion("newinfo_hdr", "newinfo");
      }

      const menu = document.querySelectorAll(".js-menu");
 
      function toggle() {
        const content = this.nextElementSibling;
        this.classList.toggle("is-active");
        this.classList.toggle("no-active");
        content.classList.toggle("is-open");
      }
 
      for (let i = 0; i < menu.length; i++) {
        menu[i].addEventListener("click", toggle);
      }


    </script> {% endcomment %}

    {% comment %} <!-- Bootstrap CSS ホームページの「はじめに」からコピペ--> {% endcomment %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> {% endcomment %}
  </body>
</html>